/* Estilo general */
body {
  background-image: url("/img/fondorosa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal con dos paneles */
.login-signup-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-panel, .right-panel {
  padding: 50px;
  width: 50%;
}

.left-panel {
  background: linear-gradient(135deg, #f8c8dc, #fde1c2); /* Degradado rosado pastel y beige */
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.left-panel h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #962d2d; /* Tono suave */
}

.left-panel p {
  font-size: 1.2em;
  color: #555;
}

.right-panel {
  padding: 50px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.right-panel h2 {
  text-align: center;
  color: #333;
}

.right-panel form {
  display: flex;
  flex-direction: column;
}

.right-panel label {
  margin-bottom: 5px;
  color: #555;
}

.right-panel input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

/* Estilos de los inputs en estado normal */
input {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

/* Mantén el borde normal si el campo está vacío */
input.invalid {
  border-color: red;
}

input.invalid + .error-message {
  display: block;
}

/* Ocultar mensajes de error por defecto */
.error-message {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  display: none;
}

/* Estilos para el botón deshabilitado */
button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

/* Estilo para el botón activo */
button {
  background-color: #962d2d;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #7d1515;
}


/* Footer */
.footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 45%;
}

.location-link {
  text-decoration: none;
  color: #333;
}

.social-links a {
  margin-right: 10px;
}

