/* Contenedor para las tarjetas */
#productos-activos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Diseño responsive */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
  margin: 0 auto;
}

/* Estilo para las tarjetas de producto */
.producto {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Para que todas las tarjetas tengan la misma altura */
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.producto h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.producto p {
  color: #666;
  margin-bottom: 10px;
}

.producto .precio {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  margin-top: auto; /* Empuja el precio hacia el final de la tarjeta */
}

.producto .descripcion {
  color: #777;
  margin-bottom: 15px;
  flex-grow: 1; /* Hace que la descripción ocupe todo el espacio restante para alinear el precio */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  position: relative;
}

.modal img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
  color: #000;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 15px;
}
